@page
@model TicTacToe.Pages.TTTModel
@{
    ViewData["Title"] = "TTT";
}

<h2>TTT</h2>
<div id="grid">
    @for (int i = 0; i < 9; i++)
    {
        <div id="square-@i" class="square">@i</div>
    }
</div>

<p id="turn">

</p>

